<thead class="thead">
    <tr>
      <th
          class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
          <div class="flex cursor-pointer">
              <span class="mr-2">#</span>
          </div>
      </th>
      <th
          class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
          <div class="flex cursor-pointer">
              <span class="mr-2">Name</span>
          </div>
      </th>
        <th
            class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            <div class="flex cursor-pointer">
                <span class="mr-2">Email</span>
            </div>
        </th>
        <th
            class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            <div class="flex cursor-pointer">
                <span class="mr-2">Role</span>
            </div>
        </th>
        <th
            class="px-6 py-3 bg-gray-50 text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            <div class="flex cursor-pointer">
                <span class="mr-2">ACTION</span>
            </div>
        </th>
    </tr>
  </thead>
  