<section class="section bg-beige mb-14 relative overflow-hidden">
  <div class="container mx-auto max-w-screen-xl">
    <div class=" py-10 mx-auto max-w-screen-xl">
      <div class="flex justify-between my-10">
        <h1 class="text-3xl font-bold">
          All Categories
        </h1>
        <button (click)="onDialogAddCategorie()"
          class="text-white bg-orange hover:bg-orange focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
          type="button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd"
              d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
              clip-rule="evenodd" />
          </svg>
          Add Categorie
        </button>
      </div>
      <div class="bg-white p-4 border border-gray-200 shadow-lg rounded-lg">
        <div class="mt-4">
          <mat-chip-list class="flex flex-wrap gap-2">
            <mat-chip *ngFor="let categorie of categories" (click)="onDialogDeleteCategorie(categorie)"
              class="bg-beige-light w-[150px] flex justify-between" (removed)="onDialogDeleteCategorie(categorie)">
              <span> {{categorie.nom}} </span>
              <button class="top-3" matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <div class="flex justify-between my-10">
      <h1 class="text-3xl font-bold">
        All Users
      </h1>
      <button
        class="text-white bg-orange hover:bg-orange focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
        type="button" (click)="onDialogAddUser()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
          <path fill-rule="evenodd"
            d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
            clip-rule="evenodd" />
        </svg>
        Add User
      </button>
    </div>

    <div class="container">
      <div class="bg-white p-4 border border-gray-200 shadow-lg rounded-lg">
        <div class="m-4 p-4">
          <div class="relative overflow-x-auto p-4 shadow-md sm:rounded-lg">
            <div class="w-full my-4 flex">
              <input type="text" placeholder="Search..." [(ngModel)]="searchText"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                name="search">
              <button
                class="text-white bg-orange hover:bg-orange focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5">Search</button>
            </div>
            <table class="w-full text-sm text-left text-gray-500">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                  <th scope="col" class="px-6 py-3">
                    #
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Name
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Email
                  </th>
                  <th scope="col" class="px-6 py-3">
                    Role
                  </th>
                  <th scope="col" class="px-6 py-3">
                    ACTION
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let utilisateur of utilisateurs | filter:searchText ; let i = index"
                  class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{i+1}}
                  </th>
                  <td class="px-6 py-2">
                    {{utilisateur.nom}}
                  </td>
                  <td class="px-6 py-2">
                    {{utilisateur.email}}
                  </td>
                  <td class="px-6 py-4">
                    {{utilisateur.role}}
                  </td>
                  <td class="px-6 py-2">
                    <div class="flex space-x-4">
                      <button (click)="onDialogModifyUser(utilisateur)" class="text-blue-500 hover:text-blue-600">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1" fill="none" viewBox="0 0 24 24"
                          stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                        </svg>
                        <p>Edit</p>
                      </button>
                      <button (click)="onDialogDeleteUser(utilisateur)" class="text-red-500 hover:text-red-600">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1 ml-3" fill="none"
                          viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                        <p>Delete</p>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>
</section>
<hr class="w-64 h-1 mx-auto my-4 bg-orange border-0 rounded md:my-10 ">
