<section class="section bg-beige px-4 py-10 mb-14 relative overflow-hidden">

    <div class="container mx-auto max-w-screen-xl">
        <div class=" py-10 mx-auto max-w-screen-xl">
            <div class="flex justify-between my-10">
                <h1 class="text-3xl font-bold">
                    All Categories
                </h1>
                <button (click)="onDialogAddCategorie()"
                    class="text-white bg-orange hover:bg-orange focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
                    type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                        <path fill-rule="evenodd"
                            d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
                            clip-rule="evenodd" />
                    </svg>
                    Add Categorie
                </button>
            </div>
            <div class="bg-white p-4 shadow-lg rounded-lg">
                <div class="mt-4">
                    <mat-chip-list class="flex flex-wrap gap-2">
                        <mat-chip (click)="onDialogDeleteCategorie()" class="bg-beige w-[150px] flex justify-between" *ngFor="let categorie of categories"
                            (removed)="onDialogDeleteCategorie()">
                            <span> {{categorie.name}} </span>
                            <button class="top-3" matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="flex justify-between my-10">
            <h1 class="text-3xl font-bold">
                All Users
            </h1>
            <button
                class="text-white bg-orange hover:bg-orange focus:ring-4 focus:outline-none focus:ring-[#3b5998]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
                type="button" (click)="onDialogAddUser()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                    <path fill-rule="evenodd"
                        d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
                        clip-rule="evenodd" />
                </svg>
                Add User
            </button>
        </div>

        <div class="container">
            <div class="bg-white p-4 shadow-lg rounded-lg">
                <div class="mt-4">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg bg-white">
                        <table class="table">
                            <app-head-table></app-head-table>
                            <div class="container-tbaod">
                                <app-item-table></app-item-table>
                                <app-item-table></app-item-table>
                                <app-item-table></app-item-table>
                                <app-item-table></app-item-table>
                                <app-item-table></app-item-table>
                                <app-item-table></app-item-table>
                                <app-item-table></app-item-table>
                                <app-item-table></app-item-table>

                            </div>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>